* {
  margin: 0;
  padding: 0;
  border:0;
  vertical-align: baseline;
  color: #252422;
}

body {
  background-color: #ccc5b9;
  min-width: 350px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-block: 1em;
}

.headerFormTask {
  padding-inline: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.redButton {
  color: #eb2828;
  border: 0.1em solid #eb2828;
}

.redButton:hover {
  background-color: #eb2828;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 27em;
  align-items: center;
  justify-content: space-between;
  height: 8em;
  background-color: #fffcf2;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #403d391a;
  z-index: 1;
}

.selects {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

select {
  border-radius: 0.3em;
  border: 0.1em solid #ccc5b9;
  margin-left: 0.5em;
  height: 1.4em;
}

option {
  text-align: center;
}

.inputTask {
  border: 0.1em solid #ccc5b9;
  padding: 0.5em;
  width: 21.5em;
  border-radius: 0.3em;
}

button {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 500;
  padding: 0.3em 0.5em;
  color: #eb5e28;
  border-radius: 0.5em;
  border: 0.1em solid #eb5e28;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #403d3921;
  height: 2em;
}

button:hover {
  color: #fffcf2;
  background-color: #eb5e28;
  cursor: pointer;
  border: 0.1em solid #ccc5b9;
}

.noHaveTasks {
  background-color: #fffcf2;
  padding: 1em;
  border-radius: 0.5em;
  margin-block: 1em;
  min-width: 27em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.noHaveTasksMessage {
  margin-block: 1em;
  border-radius: 0.5em;
  text-align: center;
  background-color: #fffcf2;
  min-width: 27em;
}

.headerTasks {
  border-top: 0.1em solid #ccc5b9;
  border-inline: 0.1em solid #ccc5b9;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 0.5em 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  margin-block: 1em;
  background-color: #fffcf2;
  width: 50%;
  min-width: 27em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #403d391a;
}

.task {
  display: flex;
  margin-top: 1em;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  word-wrap: break-word;
  padding: 0 1em 1em 1em;
  font-weight: 500;
}

.sideTaskCollum {
  padding: 0 0.5em;
  width: 8em;
  border-right: 0.1em solid #ccc5b9;
  margin-bottom: 0;
}

.sideTaskCollum p {
  text-align: start;
  margin-block-end: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6em;
  color: #252422b2;
}

.todoStatus {
  padding-left: 0.5em;
  border-left: 0.5em solid #eb2828;
}

.inprogressStatus {
  padding-left: 0.5em;
  border-left: 0.5em solid #ffc300;
}

.finishedStatus {
  padding-left: 0.5em;
  border-left: 0.5em solid #2eeb28;
}

.lowPriority {
  width: 30%;
  border-bottom: 0.5em solid #2eeb28;
}

.mediumPriority {
  width: 60%;
  border-bottom: 0.5em solid #ffc300;
}

.highPriority {
  width: 90%;
  border-bottom: 0.5em solid #eb2828;
}

.buttonTasks {
  display: flex;
  justify-content: flex-end;
}

.buttonTasks button {
  margin-inline: 0.2em;
}

.buttonEditTask button{
  margin-inline: 0.2em;
}

.bodyTask {
  width: 100%;
}

.filters {
  display: flex;
  /* margin-block: 1em; */
  align-items: center;
  padding-block: 0.5em;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 0.1em solid #ccc5b9;
  border-inline: 0.1em solid #ccc5b9;
  border-radius: 0 0 0.5em 0.5em;
}

.filtersInputs {
  display: flex;
  justify-content: space-between;
  width: 25em;
  padding: 0 0 0 0.5em;
}

.filtersInputsSelect label {
  display: flex;
  align-items:flex-end;
}

.inputRadio {
  margin-right: 0.2em;
}

